name: Run EarnCrypto Bot

on:
  workflow_dispatch:  # Hanya bisa dijalankan manual

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'

      - name: Buat folder data/earn-crypto
        run: mkdir -p data/earn-crypto

      - name: Buat file data
        run: |
          echo "${{ secrets.COOKIE }}" > data/earn-crypto/cookie
          echo "${{ secrets.USER_AGENT }}" > data/earn-crypto/user_agent

      - name: Buat file apikey.json
        run: |
          echo '[
            {
              "provider": "xeviI",
              "url": "https://sctg.xyz/",
              "register": "t.me/Xevil_check_bot?start=1204538927",
              "apikey": "${{ secrets.XEVIL_APIKEY }}"
            },
            {
              "provider": "multibot",
              "url": "http://api.multibot.in/",
              "register": "http://api.multibot.in/",
              "apikey": "${{ secrets.MULTIBOT_APIKEY }}"
            }
          ]' > data/apikey.json

      - name: Jalankan bot
        run: php bot/earn-crypto.php