name: My Workflow

on:  
  workflow_dispatch:
on:
  push:
    branches:
      - main

jobs:
  my_job:
    runs-on: ubuntu-latest
    env:
      PIL_VALUE: 4  
      PIL2_VALUE: 0 
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run TeaserFast
        run: php 1.php

