name: My Workflow

on:  
  workflow_dispatch:
jobs:  
  run-bot:  
    runs-on: ubuntu-latest  
    steps:  
      - name: Checkout repository  
        uses: actions/checkout@v3  

      - name: Setup PHP  
        uses: shivammathur/setup-php@v2  
        with:  
          php-version: '8.0'  
    env:
      PIL_VALUE: 4  
      PIL2_VALUE: 0 
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run TeaserFast
        run: php 1.php

